*{
    margin: 0;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    cursor: url("./pictures/Pizza\ Normal\ Select.cur"), default;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:hover {
    transform: scale(1.3);
}

#main-container{
    display: grid;
    height: 100%;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20% 75% 5%;
    grid-template-areas: 
    "nav header"
    "gallery gallery"
    "footer footer"
    ;
    background-color: rgb(10, 10, 10);
}

#navigation-button{
    height: 100%;
    text-align: center;
    padding-top: 7rem;
    font-size:30px;
    cursor:pointer;
    color: ivory;
    background-image: url(./pictures/space-gif.gif);
    background-position: center;
    background-size: cover;
}

#navigation{
    grid-area: nav;
    background-color: blueviolet;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: ivory;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#navigation a {
    padding: 2rem 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    text-shadow: 6px 5px gray;
    display: block;
    transition: 0.3s;
}

#navigation .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#header{
    text-align: center;
    grid-area: header;
    font-size: 7rem;
    color: ivory;
    text-shadow: 6px 10px gray;
    line-height: 17rem;
}

#gallery{
    grid-area: gallery;
    background-color: coral;
}

#picture-container{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 350px);
    grid-gap: 1rem;
    grid-template-areas: 
        "pic01 pic02 pic03 pic04 pic05"
        "pic06 pic07 pic08 pic09 pic10"
        "pic11 pic12 pic13 pic14 pic15"
    ;
}

#picture1{
    grid-area: pic01;
}

#picture2{
    grid-area: pic02;
}

#picture3{
    grid-area: pic03;
}

#picture4{
    grid-area: pic04;
}

#picture5{
    grid-area: pic05;
}

#picture6{
    grid-area: pic06;
}

#picture7{
    grid-area: pic07;
}

#picture8{
    grid-area: pic08;
}

#picture9{
    grid-area: pic09;
}

#picture10{
    grid-area: pic10;
}

#picture11{
    grid-area: pic11;
}

#picture12{
    grid-area: pic12;
}

#picture13{
    grid-area: pic13;
}

#picture14{
    grid-area: pic14;
}

#picture15{
    grid-area: pic15;
}

#footer{
    grid-area: footer;
    display: grid;
    width: 100%;
    grid-template-areas: 
        "question link"
        "contact copyright"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: ivory;
    align-items: center;
    font-size: 2rem;
}

#question{
    grid-area: question;
}

#contact{
    grid-area: contact;
}

#mail-link, #github-link{
    text-decoration: none;
    color: black;
}

#mail-link:hover, #github-link:hover{
    color: ivory;
    background-color: black;
}

#github{
    grid-area: link;
}

#copyright{
    grid-area: copyright;
}

@media(max-width: 500px){
    img:hover {
        transform: scale(1);
    }

    #main-container{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2fr 16fr 4fr;
        grid-template-areas: 
        "nav" 
        "header"
        "gallery"
        "footer"
        ;
    }

    #navigation-button{
        height: 50%;
        padding-top: 10px;
    }
    #header{
        padding-top: 1rem;
        line-height: inherit;
        font-size: 2.5em;
    }
    
    #picture-container{
        display: grid;
        height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: auto;
        grid-gap: 0.5rem;
        grid-template-areas: 
            "pic01 pic02"
            "pic03 pic04"
            "pic05 pic06" 
            "pic07 pic08" 
            "pic09 pic10"
            "pic11 pic12" 
            "pic13 pic14" 
            "pic15 pic15"
        ;
    }

    #footer{
        display: grid;
        grid-template-areas: 
            "question"
            "link"
            "contact" 
            "copyright"
        ;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #question, #contact, #mail-link, #github-link, #github, #copyright{
        text-align: center;
        font-size: 1.1rem;
    }
}

@media(min-width: 501px) and (max-width: 800px){
    img:hover {
        transform: scale(1);
    }

    #main-container{
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr 3fr 2fr;
        grid-template-areas: 
        "nav header"
        "gallery gallery"
        "footer footer"
        ;
    }

    #navigation-button{
        height: 100%;
        padding-top: 3rem;
    }
    
    #header{
        padding-top: 2rem;
        padding-bottom: 2rem;
        line-height: inherit;
        font-size: 3rem;
    }
    
    #picture-container{
        height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
        grid-gap: 0.5rem;
        grid-template-areas: 
            "pic01 pic02 pic03"
            "pic04 pic05 pic06" 
            "pic07 pic08 pic09" 
            "pic10 pic11 pic12" 
            "pic13 pic14 pic15"
        ;
    }

    #footer{
        grid-template-areas: 
            "question"
            "link"
            "contact" 
            "copyright"
        ;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #question, #contact, #mail-link, #github-link, #github, #copyright{
        text-align: center;
        font-size: 2rem;
    }
}

@media(min-width: 801px) and (max-width: 1100px){
    img:hover {
        transform: scale(1);
    }

    #main-container{
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr 3fr 2fr;
        grid-template-areas: 
        "nav header"
        "gallery gallery"
        "footer footer"
        ;
    }

    #navigation-button{
        height: 100%;
        padding-top: 4rem;
    }

    #header{
        padding-top: 2rem;
        padding-bottom: 2rem;
        line-height: inherit;
        font-size: 3rem;
    }

    #picture-container{
        height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: auto;
        grid-gap: 0.5rem;
        grid-template-areas: 
            "pic01 pic02 pic03"
            "pic04 pic05 pic06" 
            "pic07 pic08 pic09" 
            "pic10 pic11 pic12" 
            "pic13 pic14 pic15"
        ;
    }

    #footer{
        grid-template-areas: 
            "question"
            "link"
            "contact" 
            "copyright"
        ;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #question, #contact, #mail-link, #github-link, #github, #copyright{
        text-align: center;
        font-size: 1.5rem;
    }